@charset 'utf-8';
html,
body,
div,
p,i,
ul,li,span,h1,h2,h3,h4,h5,h6,dl,dt,dd,
form,input,header,nav,section{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
html{
	font-size: 100px;
}
body{
	font-size: 14px;
	font-family: 'Microsoft Yahei';
	color:#333333;
}
a{
	text-decoration: none;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}